<div class="container">
  <h1 class="text-center">Your vote has been casted!</h1>
  <script type="text/javascript">
    
      setTimeout(function(){window.location = '/poll/show/'+<%= vote.poll %>},2000) 
  
  </script>
  
</div>
