<div class="container">
  <div class="jumbotron">
    <h1>Polling System</h1>
    <br/>
    <span class="col-lg-4"></span><a href="/user/new" class="btn btn-lg btn-primary col-lg-4">Sign up Now!</a>
    <br/>
    <br/>
  </div>
</div>
